<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/fav.css}" />
    <title>Favourite</title>
  </head>
  <body>
    <div class="header">
      <center><h1>Your Favourite Movies</h1></center>
    </div>
    <div class="content">
      <div id="notification-container"></div>
    </div>
    <!-- Movie cards -->
    <div class="box1">
      <div th:each="movie: ${favMovies}">
        <img
          alt="Poster"
          width="300"
          height="450"
          th:src="${movie.posterUrl}"
        />
        <div class="button-container">
          <button
            type="submit"
            th:attr="data-movie-id=${movie.id}"
            onclick="deleteMovie(this)"
            class="button-primary"
          >
            Delete
          </button>
        </div>
        <hr />
      </div>
    </div>


    <script>
      function deletedSuccessFully(message) {
        const notification = document.createElement("div");
        notification.classList.add("notification", "success");
        notification.textContent = message;
        const container = document.getElementById("notification-container");
        container.appendChild(notification);
        const duration = 3000;
        setTimeout(() => {
          container.removeChild(notification);
        }, duration);
      }

      function deleteMovie(button) {
        var movieId = button.getAttribute("data-movie-id");
        fetch("/delete?movieId=" + movieId, {
          method: "POST",
        })
          .then((response) => {
            if (response.ok) {
              location.reload();
              deletedSuccessFully("Deleted successfully!");
            } else {
              deletedSuccessFully("Failed to delete...");
            }
          })
          .catch((error) => console.error(error));
      }
    </script>
  </body>
</html>
