<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Movie DB</title>

    <script>
      function meth(){
        window.location.href = '/extract';
      }
    </script>
  </head>

  <body>
    <section
      class="section"
      style="
        background-image: url(https://cdn.pixabay.com/photo/2015/10/15/21/09/texture-990071_1280.jpg);
      "
    >
      <!-- Searching section  -->
      <form class="form" th:action="@{/search}" th:method="get">
        <input type="text" name="title" placeholder="Enter movie title" />
        <input class="submit" type="submit" value="Search" />
      </form>

      <!-- card section  -->
        <div class="container" th:if="${movies != null}">
          <div class="box1">
            <img alt="Poster" width="300" height="450" th:src="${movies.posterUrl}" />
          </div>

          <div class="box2">
            <div class="genre">
              <div th:text="${movies.genre}"></div>
            </div>
            <div class="title">
              <div th:text="${movies.title}"></div>
            </div>
            <div class="rating">
              Rating : &nbsp;
              <span th:text=" ${movies.rating}"></span>
              <span class="separator"></span>
              <span class="votes" th:text="${movies.votes}"></span>
              <span class="votes">&nbsp;Votes</span>
              <span class="separator"></span>
              <span class="year" th:text=" ${movies.releaseYear}"></span>
            </div>

            <div class="overview">
              <p class="tenth leading-relaxed" th:text="${movies.overview}"></p>
            </div>

            <div class="director">
              <span class="drct">Director &nbsp;</span>
                <span th:text="${movies.director}"></span>
            </div>

            <div class="actor">
              <span class="star">Starring &nbsp;</span>
              <span th:text="${movies.actor}"></span>
            </div>

            <div class="lang">
              <span class="language">Language &nbsp;</span>
              <span th:text="${movies.language}"></span>
            </div>


            <!-- buttons -->

            <div class="button-container">
                <form th:action="@{/addFav}" method="post">
                  <button type="submit" class="button-primary">Favourite</button>
                </form>
                <button onclick="meth()" class="button-secondary">View Favourite</button>
            </div>
          </div>
        </div>
    </section>
  </body>
</html>
